body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.input-text{
    border: 1px solid #A70000;
    border-radius: 5px;
    height: 30px;
    width: 190px;
}
.boton-play{
    background-color: #A70000;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #FF9900;
}

.boton-add{
    background-color: #FF9900;
    width: 90px;
    height: 40px;
    border: none;
    color: #000;
}

.boton-add:hover{
    background-color: #A70000;
    color: rgb(255, 255, 255);
}


.price-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 20px;
    color: #0089A7;
}

.product{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #E8E8E8;
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: 2px 20px 29px -27px rgba(0,0,0,0.75);  
}

.acompanamientos{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.abc{
    width: 70%;
}


.navbar{
    background-color: #A70000;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fijo-cabecera{
    width: 100%;
    position: fixed;
}

.cuerpo{
    position: absolute;
    margin-bottom: 70px;
    margin-top: 310px;
    z-index: -1;
}

.in-title{
    white-space: 100%;
    text-align: center;
    font-size: 11px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #ffffff;

}

footer{
    background-color: #A70000;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
}

.item-menu{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A70000;
}

.item-icon{
    width: 60px;
    justify-content: center;
}

.img-logo{
    width: 100%;
    height: 150px;
    background-image: url(/img/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.encabezado{
   width: 70%;
   margin: 0px auto;
   text-align: center;
   margin-top: 4rem;

}

.formulario{
   width: 40%;
   margin: 40px auto;
   display: flex;
   align-content: center;
   justify-content: center;  
}

.order-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 16px;
    color: #A70000;
    font-weight: 800;
}

.texto{
    font-size: 14px;
    color: #9A9999;
}

.label{
    font-size: 12px;
    color: #9A9999;
    margin-bottom: 8px;
}


.title-product{
    font-size: 16px;
    color: #A70000;
    font-style: italic;
    font-weight: 900;
}

.description1{
    color: #4B4A4A;
}

.fas{
color: #E8E8E8;
font-size: 30px;
}

