body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 282px;
    height: 91px;
}

.logo-min{
    width: 137px;
    height: 40px; 
}

.input-text{
    border: 1px solid #A70000;
    border-radius: 5px;
    height: 30px;
    width: 190px;
}
.boton-play{
    background-color: #A70000;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #FF9900;
}

.boton-add{
    background-color: #FF9900;
    width: 90px;
    height: 40px;
    border: none;
    color: #000;
}

.boton-add:hover{
    background-color: #A70000;
    color: rgb(255, 255, 255);
}


.price-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 20px;
    color: #0089A7;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 0.5px solid #E8E8E8;
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: 2px 20px 29px -27px rgba(0,0,0,0.75);  
}

.abc{
    margin-left: 1em;
    flex-grow: 1;
}

.flex-element{
    flex-grow: 3;
}

.acompanamientos{
    display: flex;
    flex-direction: column;
}

.a123{
    width: 30%;
    flex: 1;
}

.navbar{
    background-color: #A70000;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fijo-cabecera{
    width: 100%;
    position: fixed;
}

.cuerpo{
    position: absolute;
    margin-bottom: 70px;
    margin-top: 310px;
    z-index: -1;
    width: 100%;
}

.in-title{
    white-space: 100%;
    text-align: center;
    font-size: 11px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #ffffff;

}

footer{
    background-color: #A70000;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
}

.item-menu{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A70000;
}

.item-icon{
    width: 60px;
    justify-content: center;
}

.img-logo{
    width: 100%;
    height: 150px;
    background-image: url(/img/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.encabezado{
   width: 70%;
   margin: 0px auto;
   text-align: center;
   margin-top: 4rem;

}

.formulario{
   width: 40%;
   margin: 40px auto;
   display: flex;
   align-content: center;
   justify-content: center;  
}

.order-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 16px;
    color: #A70000;
    font-weight: 800;
}

.texto{
    font-size: 14px;
    color: #9A9999;
}

.label{
    font-size: 12px;
    color: #9A9999;
    margin-bottom: 8px;
}


.title-product{
    font-size: 16px;
    color: #A70000;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 2px;
}

.description1{
    color: #4B4A4A;
    margin-bottom: 2px;
    margin-top: 2px;
}

.fas{
color: #E8E8E8;
font-size: 30px;
}

/* incremento*/

.box{
    display: grid;
    grid-template-columns: 40% 30% 20%;
    justify-content: center;
    margin: 10px 10px;
    border: 0.5px solid #E8E8E8;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 2px 20px 29px -27px rgba(0,0,0,0.75);  
}

.box:hover{
    border: 1px solid #FF9900;
}

.i1{
    width: 140px;
    height: 50px;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 10px;

}

.i2{
    width: 100px;
    height: 50px;
    /*background-color: blue;*/
    /*border: 1px solid #9c9c9c;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.i2 p{
    margin-left: 10px;
    margin-right: 10px;
}


.i1-1{
    margin-bottom: 1px;
    font-size: 18px;
}

.note{
    width: 90%;
    text-align: center;
    margin: 0px auto;
    color: #A70000;
    background-color: #FF9900;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
}

.note span{
    font-weight: bold;
}

.i1-2{
    font-size: 20px ;
    color: #0089A7;
    margin-top: 2px;
}

.i3{
    width: 70px;
    height: 50px;
    /*background-color: #FF9900;*/
    display: grid;
    align-items: center;
}

.incremento{
    display: flex;
    align-items: center;
    border: 1px solid #707070;
    padding: 1px 10px;
    
}

.box-max{
    /*background-color: #FF9900;*/
    display: grid;
    justify-content: center;
    align-items: center;
}

.incremento-num{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
}

.num-color{
    background-color: #00A72F;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
 
}

.btn-cont{
    font-size: 28px;
    border: none;
    background-color: white;
}

.btn-cont:focus{
    outline: none;
}

/* Pedido */

.pedidos-titulo{
    text-align: left;
    width: 90%;
    color: #ffffff;
    font-size: 14px;
}

.colum-pedidos{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 20% 20% 10%;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    font-weight: 800;
    color: #A70000;
}

.list-pedidos{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 20% 20% 10%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: 400;
}

.list-pedidos span{
    color: #A70000;
    font-weight: 800;
}

.cuerpo-pedidos{
    position: absolute;
    margin-bottom: 70px;
    margin-top: 280px;
    z-index: -1;
    width: 100%;
}

.total-presumen{
    
}
